.text {
  color: #fff;
}
.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}
.text h1 {
  font-size: 30px;
}
.text h2 {
  font-size: 20px;
}
.pic img {
  width: 300px;
}
#border-bottom {
  border-bottom: 1px solid rgb(185, 185, 185);
  display: inline;
  padding-bottom: 10px;
}
.text p {
  margin: 20px 0;
}
#btn1 {
  background: transparent;
  color: #fff;
  padding: 3px;
  border: 2px solid #fff;
  margin-left: 15px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#btn2 {
  background: orangered;
  color: #fff;
  padding: 3px;
  border: 2px solid orangered;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@media screen and (max-width: 580px) {
  .content {
    flex-direction: column;
    height: 600px;
  }
  .text {
    margin: 20px 0 30px 0;
    text-align: center;
  }
  .text h1 {
    font-size: 25px;
  }
  .text h2 {
    font-size: 20px;
  }
  #btn1 {
    font-size: 10px;
  }
  #btn2 {
    font-size: 10px;
  }
  .pic img {
    width: 200px;
  }
}
